* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Kufi Arabic', cursive;
}

button, button:hover, button:active, button:focus {
    border: none;
    background: none;

}

.top-header {
    text-align: center;
    font-size: .875rem;
    font-weight: 500;
    background-color: #54B435;
    padding: 0 2rem;
}

.main-header {
    padding: .5rem;
    background-color: #F3F3F3;
}

.container {
    max-width: 335px;
    margin: 0 auto;
}

.nav-menu .nav-collapse {
    background: unset;
    border: unset;
    outline: unset;
    font-size: 1.085rem;
    font-weight: bold;
    cursor: pointer;
    padding: .5rem;
}

.nav-menu .nav-collapse:active {
    border: 1px dotted black;
}

.nav-list {
    list-style: none;
    background-color: #F3F3F3;
    position: absolute;
    width: 100%;
    top: -100%;
    left: 0;
    padding: .5rem .6rem 1.6rem 0;
    line-height: 1.1;
    transition: .3s;
}

.nav-list.active {
    list-style: none;
    background-color: #F3F3F3;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: .5rem .6rem 1.6rem 0;
    line-height: 1.1;
    transition: .3s;
}

.nav-item:first-child {
    text-align: center;
    color: rgba(0, 0, 0, .5);
}

.nav-item::after {
    content: '';
    display: inline-block;
    width: 100%;    
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
}

.nav-link {
    text-decoration: none;
    color: initial;
    font-size: .8rem;
    font-weight: 600;
}

.product {
    min-height: 100vh;
}

.product-title {
    color: #000000;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem 0;
}


.price {
    color: #54B435;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 1rem;
}

.selling-price {
    text-decoration: line-through;
    opacity: .5;
}

.main-img-wrapper {
    border: 1px solid black;
    position: relative;
    width: 342px;
    height: 342px;
    margin-right: 1rem;
}

.active-img {
    width: 340px;
    height: 340px;
    display: inline-block;
    object-fit: cover;
    object-position: center;
}

.discount-text {
    position: absolute;
    left: 0;
    background-color: #54B435;
    font-size: .825rem;
    padding: 0 .67rem;
    color: white;
    font-weight: 500;
}

.images-list {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    margin-right: 1rem;

}

.images-list img {
    width: 72px;
    height: 72px;
    cursor: pointer;
    opacity: .5;
}

.images-list img.active {
    cursor: pointer;
    border: 1px solid black;
    opacity: 1;
}

.order-card {
    border: 2px solid black;
    border-radius: .4rem .8rem;
    background-color: #F4F4F4;
    padding: .5rem;
    margin-bottom: 4rem;
    height: 570px;
    overflow: scroll;
    margin: 1rem;
}

.order-card-title {
    text-align: center;
    font-weight: 500;
    background-color: #fff;
    padding: .5rem;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

input, select {
    border: 2px solid black;
    display: block;
    width: 98%;
    margin: 0 auto;
    margin-bottom: .5rem;
    padding: 1rem;
    font-size: 1.12rem
    
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.counter > div {
    border: 2px solid black;
    padding: .3rem .6rem;
    font-size: 1.2rem;
    border-radius: .5rem;
}

.counter .plus,
.counter .minus {
    cursor: pointer;
}

.order-summary {
    padding: 1rem;
}

.order-summary hr {
    border: unset;
    height: 2px;
    background: #000000
}

.order-summary-title {
    font-size: .925rem;
    font-weight: 500;
    margin-bottom: .6rem;
}

.order-summary-title i {
    font-size: 1.125rem
}

.order-summary-list {
    list-style-type: none;
    line-height: 1.8;
    max-height: 0;
    overflow: hidden;
}

.order-summary-list li {
    border-bottom: 2px dotted black;
    padding: 1rem;
    font-size: .905rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between
}

.order-summary-btn {
    display: block;
    text-align: center;
    background-color: #54B435;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    font-family: 'Noto Kufi Arabic' , sans-serif;
    cursor: pointer;
    transition: .3s;
}

.order-summary-btn:hover {
    background-color: rgba(84, 180, 53, .95);
}

.footer {
    margin-top: 2rem;
    background-color: #f3f3f3;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
    font-weight: 500;

}

.order-fixed-btn {
    padding: .6rem;
    text-align: center;
}

.order-fixed-btn button {
    padding: .5rem 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    color: white;
    font-family: 'Noto Kufi Arabic';
    background-color: #54B435;
    cursor: pointer;
    position: relative;
    left:1rem;
    text-decoration: none;
    animation-name: move;
    animation-duration: 1.5s;
    transition: .3s;
    animation-iteration-count: infinite;
}

.order-fixed-btn a:hover {
    background-color: #579b41;
}

@keyframes move {
    0% {
        transform: translateX(.6rem);
    }

    25% {
        transform: translateX(-.6rem);
    }

    50% {
        transform: translateX(-.6rem);
    }

    100% {
        transform: translateX(.6rem);
        
    }
}

.copyright {
    background-color: #54B435;
    padding: 1rem
}

.links { 
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.links a {
    text-decoration: none;
    color: #000000;
}

.links a:hover {
    text-decoration: underline;
}

.copyright p {
    color: rgb(49, 50, 54);
}

.description {
    margin-right: 1.6rem;
}

.description h3 {
    margin-bottom: 1.5rem;
}

.description div {
    max-width: 300px;
    max-height: 180px;
    overflow: scroll;
    margin-bottom: 2.4rem;
    padding: 1rem;
    width: 95vw;
}
.description div h3{
    color: #54B435;
}

.description div ul {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.description div img {
    width: 180px;
    border: 1px solid black;
    padding: 1rem;
}

.description div ul li {
    display: list-item;
    list-style: square;
    margin-right: 1rem;
    font-size: .975rem;
}
@media screen and (min-width: 375px) {
    .container {
        max-width: 628px;
    }
}

@media screen and (min-width: 981px) {


    .container {
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
    }
    .top-header .container{
        justify-content: center;
        align-items: center;
    }

    .main-header .container {
        align-items: center;
    }

    .nav-menu .nav-collapse {
        display: none !important;
    }

    .nav-menu ul:first-child {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;
        align-items: center;
    }

    .nav-menu ul:first-child a {
        text-decoration: none;
        transition: .2s;
        color: #000000;
    }

    .nav-menu ul:first-child a:hover {
        text-decoration: underline;
        color: #3d3d3d;
    }

    .product {
        margin-top: 2rem;
    }

    .product .container > div:last-child {
        height: 500px;
        overflow-y: scroll;
    }

    .order-card {
        width: 500px;
        margin-top: 3rem;
    }

    .description h3 {
        text-align: center;
        position: relative;
        left: 1.8rem;
        font-size: 1.5rem;
    }
    
    .description div {
        margin-bottom: 2.4rem;
        max-width: 490px;
        overflow: unset;
        text-align: center;

    }
    .description div img {
        width: 260px;
    }
    .footer, .copyright {
        text-align: center;
    }

    #footer .container  {
        display: flex;
        justify-content: center;
    }

    .footer .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }
   
}
